<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @show_merge_section %>
  <h2> Merge Articles </h2>

  <%= form_tag({ :action => "merge", :id => @article.id}, :id => "article_merge_form", :enctype => "multipart/form-data", :class => className) do %>

    <%= render :partial => "merge_form" %>

  <% end %>
<% end %>
